.content {
    max-width: 1200;
    margin: 0 auto;
}

header {
    padding: 10;
    text-align: center;
    background: #E7F9F9;
    background: -webkit-linear-gradient(to right bottom, #68c5c0, #E7F9F9); 
	background:    -moz-linear-gradient(to right bottom, #68c5c0, #E7F9F9);
	background:         linear-gradient(to right bottom, #68c5c0, #E7F9F9);
    color: #2A3030;
}

main {
    display: flex;
}

#left {	 		
    float: left;
    padding: 10;
    font-size: 18;
    background: #2A3030; 
	color: #FFFFFF; 					
	width: 400;		
    line-height: 36px;
    font-family: Tahoma;  
}

#right {
    width: 800;
    padding: 0 10 10;
    float: right;
    background: #E7F9F9;
}

h1 {
    font-family: Verdana;
}

h3 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}

#font {
    color:#70D3CE;
}

article,
section {
    padding: 10;
    margin: 0 10 10;
    font-size: 18;
    border: double;
    color: #2A3030;
    font-family: Tahoma;
    line-height: 36px;
}

.code {
    padding: 10;
    margin: 10;
    font-size: 18;
    color: #2A3030;
    font-family: Tahoma;
    line-height: 16px;
    border: double;
}